@model IEnumerable<PostViewModel>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Content</td>
            <td>DateCreated</td>
            <td>User</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Name</td>
                <td>
                    @post.Content
                    <p>@Html.ActionLink("Add Comment", "Add", "Comment", new { id = post.Id }, null)</p>
                    <p>
                        @foreach (var comment in post.Comments)
                        {
                            <p>@comment.Text</p>
                            <p>@comment.Author</p>
                            <hr />
                        }</p>

                    </td>
                    <td>@post.DateCreated</td>
                    <td>
                        @if (post.UserName != null)
                        {
                            @post.UserName
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                </tr>
        }
    </tbody>
</table>